// $countries: (ad, ae, af, ag, ai, al, am, an, ao, aq, ar, as, at, au, aw, ax),
//   (az, ba, bb, bd, be, bf, bg, bh, bi, bj, bl, bm, bn, bo, br, bs),
//   (bt, bw, by, bz, ca, cc, cd, cf, cg, ch, ci, ck, cl, cm, cn, co),
//   (cr, cu, cv, cw, cx, cy, cz, de, dj, dk, dm, do, dz, ec, ee, eg),
//   (eh, er, es, et, eu, fi, fj, fk, fm, fo, fr, ga, gb, gd, ge, gg),
//   (gh, gi, gl, gm, gn, gq, gr, gs, gt, gu, gw, gy, hk, hn, hr, ht),
//   (hu, ic, id, ie, il, im, in, iq, ir, is, it, je, jm, jo, jp, ke),
//   (kg, kh, ki, km, kn, kp, kr, kw, ky, kz, la, lb, lc, li, lk, lr),
//   (ls, lt, lu, lv, ly, ma, mc, md, me, mf, mg, mh, mk, ml, mm, mn),
//   (mo, mp, mq, mr, ms, mt, mu, mv, mw, mx, my, mz, na, nc, ne, nf),
//   (ng, ni, nl, no, np, nr, nu, nz, om, pa, pe, pf, pg, ph, pk, pl),
//   (pn, pr, ps, pt, pw, py, qa, ro, rs, ru, rw, sa, sb, sc, sd, se),
//   (sg, sh, si, sk, sl, sm, sn, so, sr, ss, st, sv, sy, sz, tc, td),
//   (tf, tg, th, tj, tk, tl, tm, tn, to, tr, tt, tv, tw, tz, ua, ug),
//   (us, uy, uz, va, vc, ve, vg, vi, vn, vu, wf, ws, ye, yt, za, zm),
//   (zw, nil, nil, nil, nil, nil, nil, nil, nil, xk, nil, nil);

// nil 为空 没有匹配的值
// 不能设置为null， null在 sass 中有特殊意义
$countries: (
    (ad, 376),
    (ae, 971),
    (af, 93),
    (ag, 1268),
    (ai, 1264),
    (al, 355),
    (am, 374),
    (an, nil),
    (ao, 244),
    (aq, nil),
    (ar, 54),
    (as, 1684),
    (at, 43),
    (au, 61),
    (aw, 297),
    (ax, nil)
  ),
  (
    (az, 994),
    (ba, 387),
    (bb, 1246),
    (bd, 880),
    (be, 32),
    (bf, 226),
    (bg, 359),
    (bh, 973),
    (bi, 257),
    (bj, 229),
    (bl, nil),
    (bm, 1441),
    (bn, 673),
    (bo, 591),
    (br, 55),
    (bs, 1242)
  ),
  (
    (bt, 975),
    (bw, 267),
    (by, 375),
    (bz, 501),
    (ca, 1),
    (cc, nil),
    (cd, 243),
    (cf, 236),
    (cg, 242),
    (ch, 41),
    (ci, 225),
    (ck, 682),
    (cl, 56),
    (cm, 237),
    (cn, 86),
    (co, 57)
  ),
  (
    (cr, 506),
    (cu, 53),
    (cv, 238),
    (cw, 599),
    (cx, nil),
    (cy, 357),
    (cz, 420),
    (de, 49),
    (dj, 253),
    (dk, 45),
    (dm, 1767),
    (do, 1809),
    (dz, 213),
    (ec, 593),
    (ee, 372),
    (eg, 20)
  ),
  (
    (eh, nil),
    (er, 291),
    (es, 34),
    (et, 251),
    (eu, nil),
    (fi, 358),
    (fj, 679),
    (fk, nil),
    (fm, 691),
    (fo, 298),
    (fr, 33),
    (ga, 241),
    (gb, 44),
    (gd, 1473),
    (ge, 995),
    (gg, nil)
  ),
  (
    (gh, 233),
    (gi, 350),
    (gl, 299),
    (gm, 220),
    (gn, 224),
    (gq, 240),
    (gr, 30),
    (gs, nil),
    (gt, 502),
    (gu, 1671),
    (gw, 245),
    (gy, 592),
    (hk, 852),
    (hn, 504),
    (hr, 385),
    (ht, 509)
  ),
  (
    (hu, 36),
    (ic, nil),
    (id, 62),
    (ie, 353),
    (il, 972),
    (im, nil),
    (in, 91),
    (iq, 964),
    (ir, 98),
    (is, 354),
    (it, 39),
    (je, nil),
    (jm, 1876),
    (jo, 962),
    (jp, 81),
    (ke, 254)
  ),
  (
    (kg, 996),
    (kh, 855),
    (ki, 686),
    (km, 269),
    (kn, 1869),
    (kp, 850),
    (kr, 82),
    (kw, 965),
    (ky, 1345),
    (kz, 7),
    (la, 856),
    (lb, 961),
    (lc, 1758),
    (li, 423),
    (lk, 94),
    (lr, 231)
  ),
  (
    (ls, 266),
    (lt, 370),
    (lu, 352),
    (lv, 371),
    (ly, 218),
    (ma, 212),
    (mc, 377),
    (md, 373),
    (me, 382),
    (mf, nil),
    (mg, 261),
    (mh, 692),
    (mk, 389),
    (ml, 223),
    (mm, 95),
    (mn, 976)
  ),
  (
    (mo, 853),
    (mp, nil),
    (mq, nil),
    (mr, 222),
    (ms, 1664),
    (mt, 356),
    (mu, 230),
    (mv, 960),
    (mw, 265),
    (mx, 52),
    (my, 60),
    (mz, 258),
    (na, 264),
    (nc, 687),
    (ne, 227),
    (nf, nil)
  ),
  (
    (ng, 234),
    (ni, 505),
    (nl, 31),
    (no, 47),
    (np, 977),
    (nr, 674),
    (nu, nil),
    (nz, 64),
    (om, 968),
    (pa, 507),
    (pe, 51),
    (pf, 689),
    (pg, 675),
    (ph, 63),
    (pk, 92),
    (pl, 48)
  ),
  (
    (pn, nil),
    (pr, 1787),
    (ps, nil),
    (pt, 351),
    (pw, 680),
    (py, 595),
    (qa, 974),
    (ro, 40),
    (rs, 381),
    (ru, 7),
    (rw, 250),
    (sa, 966),
    (sb, 677),
    (sc, 248),
    (sd, 249),
    (se, 46)
  ),
  (
    (sg, 65),
    (sh, nil),
    (si, 386),
    (sk, 421),
    (sl, 232),
    (sm, 378),
    (sn, 221),
    (so, 252),
    (sr, 597),
    (ss, nil),
    (st, 239),
    (sv, 503),
    (sy, 963),
    (sz, 268),
    (tc, 1649),
    (td, 235)
  ),
  (
    (tf, nil),
    (tg, 228),
    (th, 66),
    (tj, 992),
    (tk, nil),
    (tl, 670),
    (tm, 993),
    (tn, 216),
    (to, 676),
    (tr, 90),
    (tt, 1868),
    (tv, nil),
    (tw, 886),
    (tz, 255),
    (ua, 380),
    (ug, 256)
  ),
  (
    (us, 1),
    (uy, 598),
    (uz, 998),
    (va, nil),
    (vc, 1784),
    (ve, 58),
    (vg, 1284),
    (vi, nil),
    (vn, 84),
    (vu, 678),
    (wf, nil),
    (ws, 685),
    (ye, 967),
    (yt, 269),
    (za, 27),
    (zm, 260)
  ),
  (
    (zw, 263),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (nil, nil),
    (xk, nil),
    (nil, nil),
    (nil, nil)
  );

// flags.png 每个图标偏移32px
$offset: -32px;

// flags-64.png 每个图标偏移64px
$offset64: -64px;
