@import "./var.scss";

.flag {
  display: inline;
  *zoom: 1;
  display: inline-block;
  width: -$offset64;
  height: -$offset64;
  line-height: -$offset64;
  background-image: url(./flags-64.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

@each $arr in $countries {
  $i: index($countries, $arr);
  @each $c in $arr {
    $j: index($arr, $c);
    .flag.flag-#{$c} {
      background-position: $offset64 * ($j - 1) $offset64 * ($i - 1);
    }
  }
}
